
.wrapper {
    height: 100dvh;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main"
    ;
    background: var(--bg);
}

.header {
    grid-area: header;
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    grid-area: sidebar;
    border-right: 1px solid var(--border);
    overflow: hidden;
}

.main {
    grid-area: main;
    overflow-y: auto;
}

/* 모바일 */

@media (max-width: 600px) {

    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 56px 1fr 60px;
        grid-template-areas:
            "header"
            "main"
            "sidebar"
        ;
    }

    .headerHide {
        grid-template-rows: 1fr 60px;
        grid-template-areas:
            "main"
            "sidebar"
        ;
    }

    .headerHide .header {
        display: none;
    }

}